*{margin: 0; padding: 0; box-sizing: border-box; }
ul,ol{list-style: none; }
.clearfix::after{
  content: '';
  display: block;
  clear: both;
}
body{
  overflow: hidden;
}

.layout{
  margin: 0px auto;
  width: 600px;
}
@media(min-width: 900px){
  .layout{
    width: 800px;
  }
}
@media(min-width: 1000px){
  .layout{
    width: 900px;
  }
}
@media(min-width: 1200px){
  .layout{
    width: 1100px;
  }
}

.bg{
  z-index: -1;
  position: absolute;
  top: -5vh;
  left: -5vh;
  right: -5vh;
  bottom: -5vh;
  background: url(https://s2.ax1x.com/2019/06/23/ZFIIYt.jpg) center center;
  background-size: cover;
  filter: blur(5px);    
}
.bg::after{
  content: '';  
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: rgba(0,0,0,0.4);
}

main{
  height: 75vh;
  padding-top: 12vh;
}
main .layout{
  position: relative;
  display: flex;
  justify-content: center;
}
main aside figure{
  width: 46vh;
  height: 46vh;
  background: url(https://s2.ax1x.com/2019/06/23/ZFIIYt.jpg) center center;
  background-size: cover;
}
main aside .actions{
  width: 46vh;
  display: flex;
  justify-content: space-around;
  margin-top: 5vh;
}
main .iconfont{
  font-size: 6vh;  
  color: rgba(255,255,255,0.4);
  cursor: pointer;
  transition: all 0.3s;
}
main .iconfont:hover{
  color: #FFF;
}
main .iconfont.active{
  color: rgba(249,38,114,1);
}
main .info{
  flex: 1;
  color: #FFF;
  margin-left: 10vh;
  position: relative;
}
main .info .tag{
  font-size: 2vh;
  padding: 0.8vh 1.6vh;
  background: #2E6EEC;
}
main .info h1{
  font-size: 6vh;
  height: 8vh;
  margin-top: 2vh;
}
main .info .artiest{
  font-size: 3vh;
  height: 3vh;
  margin-top: 3vh;
}
main .info .lyricContainer{
  margin-top: 2vh;
  height: 21vh;
  overflow: hidden;
}
main .info .lyric{
  margin-top: 9vh;
  transition: all 1s;
}
main .info .lyric > p{
  height: 3vh;
  font-size: 2vh;
  color: rgba(255,255,255,0.4);
  text-align: center;
}main .info .lyric > p.active{
  color: #FFF;
}
main .info .progressBarWrapper{
  width: 100%;
  position: absolute;
  top: 53vh;
}
main .info .progressBarContainer{
  display: flex;
  align-items: center;
}
main .info .progressBarContainer > .progressBar{
  position: relative;
  flex: 1;
  height: 1vh;
  background: rgba(255,255,255,0.4);
  border-radius: 0.3vh;
  cursor: pointer;
}
main .info .progressBarContainer > .progressBar > .progress{
  position: relative;
  top: 0;
  left: 0;
  height: 1vh;
  width: 0;
  background: #FFF;
  border-radius: 0.3vh;
}
main .info .progressBarContainer > .progressBar .progressBtn{
  position: absolute;
  height: 1.8vh;
  width: 2.6vh;
  margin-top: -0.4vh;
  margin-right: -1.3vh;
  border-radius: 40%;
  right: 0;
  background: #FFF;
  box-shadow: 0 0 0.4vh 0.5vh rgba(0,0,0,0.5) inset, 0 0 0.3vh 0.2vh rgba(0,0,0,0.6) inset;
  display: none;
}
main .info .progressBarContainer > .progressBar:hover .progressBtn{
  display: block;
}
main .info .progressBarContainer > .currentTime{
  font-size: 2vh;
  margin-left: 1vh;
}

footer{
  height: 25vh;
  color: #FFF;
  background: rgba(255,255,255,0.2);
  box-shadow: 0 0 0.2vh 0.2vh rgba(255,255,255,0.2);
}
footer > .layout{
  position: relative;
}
footer .box{
  height: 25vh;
  overflow: hidden;
}
footer .iconfont{
  position: absolute;
  color: rgba(255,255,255,0.4);
  font-size: 7vh;
  top: 8vh;
  cursor: pointer;
  opacity: 0;
  transition: all 0.3s;
}
footer .icon-left{
  left: -8vh;
}
footer .icon-right{
  right: -8vh;
}
footer:hover .iconfont{
  opacity: 1;
}
footer .iconfont:hover{
  color: #FFF;
}
footer ul{
  position: relative;
  left: 0;
}
footer li{
  float: left;
  width: 21vh;
  height: 21vh;
  margin: 2vh;
  text-align: center;
  cursor: pointer;
}
footer li:hover{
  box-shadow: 0 0 0.5vh 0.5vh rgba(255,255,255,0.8)
}
footer li.active{
  box-shadow: 0 0 0.5vh 0.5vh rgba(255,255,255,0.8)
}
footer li > .cover{
  height: 16vh;
  background-size: cover;
  background-position: center center;
}
footer li > h3{
  font-size: 2vh;
  margin-top: 2vh;
  color: rgba(255,255,255,0.6);
}